Repository EventStore/Design-System, pull requests merged in 2022-10, with the labels that each got.

#235 `routeHasChanged`
  packages/router/src/index.ts
  packages/router/src/utils/routeHasChanged.ts
Labels: @eventstore-ui/router

#227 Browser Storage persistence for `@eventstore-ui/stores`
  packages/stores/src/index.ts
  packages/stores/src/plugins/persistLocally.test.ts
  packages/stores/src/plugins/persistLocally.ts
  packages/stores/src/plugins/stencil.ts
  packages/stores/src/stores/createStore.test.ts
  packages/stores/src/stores/createStore.ts
  packages/stores/src/types.ts
Labels: @eventstore-ui/stores

#238 Fix incorrect theme colors
  packages/editor/src/utils/codeThemes.ts
  packages/layout/src/utils/layoutThemes.ts
Labels: @eventstore-ui/layout, @eventstore-ui/editor

#240 Table types
  packages/components/src/components/tables/types.ts
  packages/components/src/index.ts
Labels: @eventstore-ui/components

#242 Allow router actions to work across stencil instances
  packages/router/src/utils/getInternalRouter.ts
  packages/router/src/utils/internalRouter.ts
  packages/router/src/utils/router.ts
Labels: bug, @eventstore-ui/router
